{% extends 'login/auth.html' %}
{% block auth_heading %}Sign in to your account{% endblock %}
{% block auth_content %}
<form method="post" novalidate class="auth-form">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <label class="form-row">
    <span>Username</span>
    <input class="input" name="username" autocomplete="username" autofocus required>
  </label>
  <label class="form-row">
    <span>Password</span>
    <input class="input" type="password" name="password" autocomplete="current-password" required>
  </label>
  {% if error %}<p class="auth-error">{{ error }}</p>{% endif %}
  <button class="btn btn-primary auth-submit" type="submit">Sign in</button>
</form>
<p class="auth-alt">Don't have an account? <a href="/register/">Create one</a></p>

<div class="auth-demo">
  <h4>Demo accounts</h4>
  <p>admin&nbsp;&nbsp;/ <code>Admin@123</code></p>
  <p>staff&nbsp;&nbsp;/ <code>Staff@123</code></p>
  <p>vendor / <code>Vendor@123</code></p>
</div>
{% endblock %}
